<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
  <display-name>Rising_Sun</display-name>
  	
  	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
  <!-- Login controller -->
  <servlet>
      <servlet-name>LoginController</servlet-name>
      <servlet-class>com.dataart.risingsun.app.controller.servlets.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>LoginController</servlet-name>
      <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  
  <!-- Registration controller -->
  <servlet>
      <servlet-name>RegistrationController</servlet-name>
      <servlet-class>com.dataart.risingsun.app.controller.servlets.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>RegistrationController</servlet-name>
      <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
</web-app>
